* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #87CEEB;
}

#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#balloon {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 25px);
    width: 50px;
}
