/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #87CEEB;
}

/* Game Container */
#game-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* Balloon */
#balloon {
    position: absolute;
    bottom: 20px;
    left: calc(50% - 25px);
    width: 50px;
}

/* Lawn Mower Cursor */
.lawnmower-cursor {
    cursor: url('./assets/lawnmower.png') 16 16, auto !important; /* Adjust hotspot if needed */
}
